<h1>Crear Usuario</h1>
 <form action="Usuario/crearUsuarioForm" method="post">
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="Nombres" name="nombres">
    </div>
    <div class="form-group">
      <label for="preferencia">Preferencia</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="Preferencia" name="preferencia">
    </div>
    <div class="form-group">
      <label for="Fecha">Fecha de Nacimiento</label>
      <input   type="date" class="form-control"   name="fechaNacimiento">
    </div>
    
    <button type="submit" class="btn btn-success">Crear Usuario</button>
    <br>

  </form>