<center>



<div class="jumbotron">
  <h1>Usuarios</h1>
  <p>Registra tu Usuario </p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registra Usuarios</a> <a class="btn btn-primary btn-lg" href="/listarUsuarios" role="button">Listar Usuarios</a> </p>
</div>


<div class="jumbotron">
  <h1>Agarre</h1>
  <p>Registrar Agarre</p>
  <p><a class="btn btn-primary btn-lg" href="/CrearAgarre" role="button">Registra Agarre</a> <a class="btn btn-primary btn-lg" href="/listarAgarre" role="button">Listar Agarre</a> </p>
</div>
</center>